.Dictionary {
  background: #f0f0f05e;
  border: 1px solid #3f3d565e;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgb(63 61 81 / 10%);
  font-family: "Poppins", serif;
  max-width: 650px;
  display: block;
  margin: 0 auto;
}

.Dictionary section {
  padding: 5px;
}

.Dictionary input {
  width: 100%;
  padding: 2px 10px;
  border: 1px solid #3f3d565e;
  border-radius: 5px;
}

.Dictionary .hint {
  font-size: 11px;
  margin-left: 10px;
}
